*{
  background-color: rgb(119, 183, 243);
  text-align: center;
}

span{
  margin-left: 150px;
  margin-right: 0px;
  cursor:crosshair;
  background-color: rgb(182, 215, 247);
  margin-bottom: 10px;
}

#imie{
  width: 170px;
  background-color: white;
  border: none;
  height: 35px;
  margin-top: 10px;
}

.blue{
  color: blue;
}


.user{
  background-color: rgb(182, 215, 247);
  margin-left: 836px;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 50px;
  display: flex;
  align-items: center;
}

form{
  width: 300px;      /* lub inna szerokość */
  margin: 0 auto;
  margin-bottom: 20px;
}

.zamknij{
   background-color: rgb(182, 215, 247);
   border: none;
   margin-left: auto;
}

/* .spanik{
  margin-left: 5px;
} */